<aside class="col-sm-6 col-md-4 col-lg-3 blog-sidebar">
    {{ if isset .Site.Params.sidebar "about" }}
    <section class="sidebar-module sidebar-module-inset">
        <h4>{{ i18n "about" }}</h4>
        <p>{{ .Site.Params.sidebar.about | markdownify }}</p>
    </section>
    {{ end }}

    {{ $num_recent_posts := (index .Site.Params.sidebar "num_recent_posts" | default 5) }}

    <section class="sidebar-module">
        <h4>{{ i18n "recentPosts" }}</h4>
        <ol class="list-unstyled">
            {{ range first $num_recent_posts (where .Site.Pages "Type" "post") }}
            <li><a href="{{.RelPermalink}}">{{.Title | markdownify }}</a></li>
            {{ end }}
        </ol>
    </section>

    {{ with .Site.Menus.sidebar }}
    <section class="sidebar-module">
        <h4>Links</h4>
        <ol class="list-unstyled">
            {{ range . }}
            <li><a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
            {{ end }}
        </ol>
    </section>
    {{ end }}
</aside><!-- /.blog-sidebar -->
