{{ $dateFormat := default "Mon Jan 2, 2006" (index .Site.Params "date_format") }}

<article class="blog-post clearfix">
    <header>
        <h2 class="blog-post-title">
            <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
        </h2>
        <p class="blog-post-meta">
            <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
                {{ .Date.Format $dateFormat }}
            </time>
            by
            {{ .Params.author | default .Site.Params.author }}
            {{ if or (.Params.categories) (.Params.tags) }}
                in {{ partial "meta-terms.html" . }}
            {{ end }}
        </p>
    </header>
    {{ with .Params.images }}
        <img src="{{ index . 0 }}.s150.jpg" class="img-thumbnail list-thumbnail">
    {{ end }}
    {{ .Summary }}
    <a href='{{ .Permalink }}'>{{ i18n "readMore" }} →</a>
</article> <!-- /.blog-post -->
