{{ if .IsNamedParams }}
    <a href="{{ .Get "src" }}" data-lightbox="article" class="d-block">
        <img src="{{ .Get "src" }}.s300.jpg" class="img-thumbnail domen-thumbnail{{ if .Get "float" }} float-xs-{{ .Get "float" }}{{ end }}">
    </a>
{{ else }}
    <a href="{{ .Get 0 }}" data-lightbox="article" class="d-block">
        <img src="{{ .Get 0 }}.s300.jpg" class="img-thumbnail domen-thumbnail">
    </a>
{{ end }}
