<div class="clearfix">
    {{- range .Params }}
        <a href="{{ . }}" data-lightbox="article" class="d-block float-xs-left gallery-link">
            <img src="{{ . }}.s100.jpg" class="gallery-thumbnail">
        </a>
    {{- end }}
</div>
